.steps-section {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.steps-header p {
  font-size: 16px;
  color: #555;
  font-weight: 500;
  margin-bottom: 10px;
}

.steps-header h2 {
  font-size: 32px;
  font-weight: 800;
  color: #111;
  margin-bottom: 40px;
}

.steps-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.step-card {
  background: #fff;
  border-radius: 12px;
  padding: 25px 20px;
  max-width: 300px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.step-card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  object-fit: contain;
}

.step-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #d11a2a;
}

.step-card p {
  font-size: 0.95rem;
  color: #444;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 768px) {
  .steps-cards {
    flex-direction: column;
    align-items: center;
  }

  .step-card {
    width: 100%;
    max-width: 90%;
  }
  img{
    margin: auto !important;
  }

  .steps-header h2 {
    font-size: 26px;
  }
}